<div class="block" id="block-forms">
  <div class="secondary-navigation">
      <%= render_menu(secondary_navigation_menu) %>
    <div class="clear"></div>
  </div>          
  <div class="content">            
    <h2 class="title">Forms</h2>
    <div class="inner">
      <form action="#" method="get" class="form">
        <div class="group">
          <label class="label">Text field</label>
          <input type="text" class="text_field" />
          <span class="description">Ex: a simple text</span>
        </div>
        <div class="group">
          <div class="fieldWithErrors">
            <label class="label" for="post_title">Title</label>
            <span class="error">can't be blank</span>
          </div>
          <input type="text" class="text_field" />
          <span class="description">Ex: a simple text</span>
        </div>
        <div class="group">
          <label class="label">Text area</label>
          <textarea class="text_area" rows="10" cols="80"></textarea>
          <span class="description">Write here a long text</span>
        </div>
        <div class="group navform">
          <input type="submit" class="button" value="Save &rarr;" /> or <a href="#header">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>