<div class="block" id="block-messages">
   <div class="secondary-navigation">
     <ul>
       <li class="first"><a href="#block-text">Text</a></li>
       <li><a href="#block-tables">Tables</a></li>
       <li><a href="#block-forms">Forms</a></li>
       <li class="active"><a href="#block-messages">Messages</a></li>
       <li><a href="#block-forms-2">2 Columns Forms</a></li>
       <li><a href="#block-lists">Lists</a></li>
     </ul>
     <div class="clear"></div>
   </div>          
   <div class="content">            
     <h2 class="title">Messages</h2>
     <div class="inner">
       <div class="flash">
         <div class="message error">
           <p>Error message</p>
         </div>                              
         <div class="message warning">
           <p>Warning message</p>
         </div>                
         <div class="message notice">
           <p>Notice message</p>
         </div>                
       </div>
     </div>
   </div>
 </div>