<div class="block" id="block-messages">
   <div class="secondary-navigation">
       <%= render_menu(secondary_navigation_menu) %>
     <div class="clear"></div>
   </div>          
   <div class="content">            
     <h2 class="title">Messages</h2>
     <div class="inner">
       <div class="flash">
         <div class="message error">
           <p>Error message</p>
         </div>                              
         <div class="message warning">
           <p>Warning message</p>
         </div>                
         <div class="message notice">
           <p>Notice message</p>
         </div>                
       </div>
     </div>
   </div>
 </div>