<div class="block" id="block-tables">
  <div class="secondary-navigation">
      <%= render_menu(secondary_navigation_menu) %>
    <div class="clear"></div>
  </div>          
  <div class="content">          
    <h2 class="title">Tables</h2>
    <div class="inner">
          <%= render_table(@users,
                          [             
                              ["ID",lambda { |p| p.id}],
                              ["Login",lambda { |p| p.login}],
                              ["Name",lambda { |p| p.name}],
                              ["Surname",lambda { |p| p.name}],
                              ["Action",lambda { |p| link_to("show",user_path(p)) + " | " + link_to("edit",edit_user_path(p))+" | "+link_to('delete',  user_path(p), :title => "Delete this advertise", :confirm => "Are you sure?", :method => :delete)}],
                              ["Start at",lambda { |p| p.created_at}],
                            ]
                          ) %>

        <div class="actions-bar">
          <%= will_paginate(@users)%>
          <div class="clear"></div>
        </div>
    </div>
  </div>
</div>